.contact-form{
    user-select: none;
}

.contact-form h1{
    text-align: center;
}
.contact-form .cont-para{
    text-align: center;
    font-size: 1.2rem;
}

.cont-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 37%;
    margin-top: 5%;
    width: 70%;
}
.Home{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-right: 3%;
    margin-top: 8%;
}


 @media (min-width:480px) and (max-width:768px){

    .Home{
        margin-top: 21%;
    }

    .cont-form{
        margin-left: 27%;
        width:117%;
    }
} 

@media(min-width:320px) and (max-width:480px){
    .cont-form{
        margin-left: 10%;
    }
    .input{
        width: 245px;
    }
    .area{
        width: 245px;
    }
    .but{
        width: 245px;
    }
    .Home{
        margin-top: 10%;
    }

}