.body {
    background-image: linear-gradient(290deg, green, greenyellow);
    width: 100%;
    height: 100vh;
}
i{
    display:flex;
    justify-content: space-around;
}
h1{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
p{
   margin-top: 11%;
   margin-left: 5%;
}
button{
    margin-left: 23%;
}
.contact-btn{
    margin-left: 35%;
   
}
.lcm{
    display: flex;
    justify-content: center;
    height: 20vh;
}
.know-btn,.contact-btn{
    position: absolute;
    top: 45%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-size: 1.3rem;
}
.gopi{
   
   border-radius: 47%;

}
