.body {
    background-image: linear-gradient(290deg, green, greenyellow);
    width: 100%;
    min-height: 100vh;
    user-select: none;
}
i{
    display:flex;
    justify-content: space-around;
}
.col-md-12  h1{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.row p{
   margin-top: 11%;
   margin-left: 5%;
}
/* button{
    margin-left: 21%;
}
.contact-btn{
    margin-left: 33%;
   
} */
.lcm{
    display: flex;
    justify-content: center;
    height: 20vh;
}
.btn-container{
    display: flex;
    gap: 11rem;
    margin-left: 29%;
}
.know-btn,.contact-btn{
    position: absolute;
    top: 43%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-size: 1.3rem;
}
.gopi{
   
   border-radius: 47%;
   width: 26%;

}

@media (min-width: 300px) and (max-width:480px){
    .gopi{
        margin-top: 17%;
        width: 23%;
        border-radius: 47%;
    }
    .col-md-12  h1{
        font-size: 1rem;
        margin-top: 31%;
        margin-left:20%;
        text-align: center;
    }
    .row p{
        margin-top: 24%;
        margin-left: 12%;
        font-size:0.6rem;
    }
    .know-btn{
        margin-top: 0%;
        margin-left: 26%;
        font-size: 0.8rem;
    }
    .contact-btn{
        margin-left: 55%;
        margin-top: 0%;
        font-size: 0.8rem;
    }
}

 @media (min-width: 480px) and (max-width:768px) {
    .gopi{
        margin-top: 17%;
        border-radius: 47%;
        
    }
    .col-md-12  h1{
        font-size: 2rem;
        margin-top: 30%;
        margin-left: 27%;
    }
    .row p{
        margin-top: 27%;
        margin-left: 4%;
    }
    .know-btn{
        margin-top: 1%;
        margin-left: 18%;
    }
    .contact-btn{
        margin-left: 45%;
        margin-top: 1%;
    }
} 