.about{
    user-select: none;
}

.about h1{
    text-align: center;
}
.about .para{
    text-align: center;
    font-family:  Geneva;
    font-size: 1.2rem;
}
.about-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 80px 80px 80px;
}
.about-main-left,.about-main-right{

    width: 50%;
}
.about-main-right{
    display: flex;
    justify-content: flex-end;
}
.about-main-left{
    display: flex;
    flex-direction: column;

}
.about-main-left h3{
    margin-top: 12%;
}
.about-subheading{
    margin:0;
}
.about-subheadingDetails{
    margin: 10px 0 32px 0;
}
.about-anime{
    width: 520px;
    max-width: 100%;
    max-height: 100%;
}
.check{
   margin-left: 39%;
    position: absolute;
    top: 95%;
    cursor: pointer;
}

@media(min-width:320px) and (max-width:480px){
    .about-subheading{
        font-size: 0.8rem;
        margin-left: 10px;
    }
    .about-subheadingDetails{
        font-size: 0.5rem;
        margin-left: 10px;
        padding: 3px 0 18px 0;
    }
    .about-anime{
        width:100px;
    }
    .check{
        margin-left: 27%;
    }
    .about-main-left,.about-main-right{

        width: 60%;
    }
    .about-main-left{
        margin-left: 10%;
        
    }
}

@media (min-width:480px) and (max-width:768px){
    .about-anime{
        width: 400px;
    }
    .about-subheadingDetails{
        margin: 10px 0 20px 0;
    }
}